@using MMSWeb.Models
@model BookingModel

@{
    ViewData["Title"] = "Index";
}

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-body">
            <div class="row" id="default">
                <div class="col-12">
                    <div class="card border-custom">
                        <div class="card-header bg-custom be">
                            <h4 class="card-title"><i class="fa fa-prescription-bottle"></i> DrugGeneric List</h4>
                            <div class="heading-elements">
                                <a href="@Url.Action("Add","DrugGeneric")" class="btn btn-sm btn-success white"><i class="fa fa-plus white"></i> New LabOrder</a>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <h2>Booking Calendar</h2>

                                <div id="calendar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- FullCalendar -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.3/main.min.js"></script>

    <script>
        $(document).ready(function () {
            var calendarEl = $('#calendar');
            if (!calendarEl.length) {
                console.error("Calendar element not found!");
                return;
            }

            var calendar = new FullCalendar.Calendar(calendarEl[0], {  // Accessing the DOM element
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                events: '@Url.Action("GetBookings", "Booking")',
                eventClick: function (info) {
                    alert('Booking: ' + info.event.title);
                },
                eventSources: [
                    {
                        url: '@Url.Action("GetBookings", "Booking")',
                        failure: function () {
                            console.log("Failed to fetch events!");
                        }
                    }
                ]
            });

            calendar.render();
        });

    </script>
}
