@using MMSWeb.Models
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity

<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

            <li class="nav-item">
                <a href="@Url.Action("Index","Home", new { area = "" })"><i class="fa fa-home"></i><span class="menu-title">Dashboard</span></a>
            </li>
            <li class="nav-item">
                <a href="#"><i class="ft-bookmark"></i><span class="menu-title">Booking</span></a>
                <ul class="menu-content">
                    <li>
                        <a class="menu-item" asp-action="Add" asp-controller="Booking">New Booking</a>
                    </li>
                     <li>
                        <a class="menu-item" asp-action="Index" asp-controller="Booking">Booked Queue</a>
                    </li>

                </ul>
            </li>
         

        </ul>
    </div>
</div>


